{%extends 'base.html' %}
{%block nav%}
<a href="/logout">Logout</a>
{%endblock%}
{%block body%}
<form action="/" method="POST">
<div class="location-container">
  {% for locat in loca %}
  <p>{{locat}}</p>
  {%endfor%}
  <form action="/" method="POST">
    <h2>Select Your Location</h2>
    <select name="location" id="location">
      <option value="">--Choose a location--</option>
      <option value="pattanagere">Pattanagare</option>
      <option value="rr_nagar">Rajarajeshwari nagar</option>
      <option value="magdi_road">Magdi road</option>
    </select>
    <button type="button" onclick="findSpot()">Find Spot</button>
    <p id="message"></p>
  </form>
</div>
</form>
{% if availableSpots|length < 1 %}
 <center><h4>Choose one location to see the spots</h4></center>
 {% else %}
  <div class="location-container">
    <ul class="available-spots">
        {% for spot in availableSpots %}
            <li><a href="/book/{{spot[0]}}">{{ spot[0] }}</a></li>
        {% endfor %}
    </ul>
  </div>
{%endif%}
<script>
  function findSpot() {
    const location = document.getElementById('location').value;
    const message = document.getElementById('message');
    if (location) {
      window.location.href = `/${location}`;
    } else {
      message.textContent = "Please select a location.";
    }
  }
  </script>

{% endblock %}

