{%extends 'base.html'%}
{%block nav%}
<a href="/signUp">Sign Up</a>
{%endblock%}
{%block body%}
  <div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <input type="text" placeholder="Vehicle Number" name="vehicleNumber" required>
      <input type="text" placeholder="Password" name="password" required>
      <!-- <a href="/signIn"> reload</a> -->
      <button type="submit">Login</button>
      <p style="color: red;">{{comment}}</p>
    </form>
  </div>
{%endblock%}